:root{
    --color-primary:#0364ff;
    --color-orange: #ffa200;
    --md:992px
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:nunito,SourceHanSans,Microsoft YaHei,sans-serif;
}
@font-face {
    font-family: SourceHanSans;
    src: url('./font/SourceHanSansCN-Regular.otf');
}
    
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--color-primary);
}
input{
    outline: none;
}